* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2e9e4;
}

:root {
  --color-primary: #22223b;
  --color-secondary: #4a4e69;
  --color-tertiary: #9a8c98;
  --color-accent: #c9ada7;
  --color-background: #f2e9e4;
}
